html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: pink;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

button{
  color: pink;
  background: rgb(248, 247, 247);
}

button:hover{
  color: #0070f3;
  background: white;
  cursor: pointer;
}
button:active{
  color: pink;
}